/* Fill CSS here */
h1+div{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
form{
    margin: auto;
    width: 27%;
    border: 1px solid red;
}
label{
    font-weight: bold;
}
input{
    width: 95%;
    margin-bottom: 4px;
}
